body {
    color: #889BB0;
}

.hero .hero-right-decoration {
background-color: #202932;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

    color: #fff;

}

.features.section.text-center {
    background-color: #202932;
}

.feature-inner {
    background-color: #333E4A;
}
.features-tabs.section {

    background-color: #202932;
    background-image: none;

}

.features-tabs::before {
  background-image: none;
}

.tab-link {

    background-color: #333E4A;

}
